USE [DIMS]
GO
/****** Object:  Table [dbo].[DIMS_CONFIDENTIALITY]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_CONFIDENTIALITY](
	[CONF_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD_GROUP] [nvarchar](50) NULL,
	[PERMISSION] [int] NULL,
	[USER_LOGIN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__DIMS_CON__3A26C8C390841B6A] PRIMARY KEY CLUSTERED 
(
	[CONF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_CONFIGURATION]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_CONFIGURATION](
	[CONFIG_KEY] [nvarchar](20) NOT NULL,
	[CONFIG_VALUE] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CONFIG_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_DELEGATION]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_DELEGATION](
	[WFL_DELEGATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[WFL_DELEGATE_FROM] [datetime] NULL,
	[WFL_DELEGATE_TO] [datetime] NULL,
	[WFL_ABSENTEE_LOGIN] [nvarchar](50) NOT NULL,
	[WFL_DELEGATE_LOGIN] [nvarchar](50) NOT NULL,
	[WFL_DELEGATION_STATUS] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_DOCUMENT_CONFIG]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_DOCUMENT_CONFIG](
	[WFL_CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[WFL_DOCUMENT_CLASS] [nvarchar](50) NOT NULL,
	[WFL_ATTACHMENT_TYPE] [nvarchar](10) NOT NULL,
	[WFL_CLASS_TYPE] [nvarchar](10) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_DOCUMENT_TYPE]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_DOCUMENT_TYPE](
	[DOCTYPE_ID] [int] NOT NULL,
	[DOCTYPE_NAME] [nvarchar](100) NOT NULL,
	[DEPT_CODE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_ERRORS]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_ERRORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WFLID] [nvarchar](50) NULL,
	[WITEMID] [nvarchar](50) NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[TYPE] [nvarchar](20) NULL,
	[TIMESTAMP] [datetime] NULL,
	[SPROCEDURE] [nvarchar](max) NULL,
	[SLINENO] [nvarchar](max) NULL,
	[ERRORNUM] [nvarchar](max) NULL,
	[SOURCE] [nvarchar](20) NULL,
 CONSTRAINT [PK_DIMS_ERRORS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_SITE]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_SITE](
	[SITE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_CODE] [int] NOT NULL,
	[SITE_NAME] [nvarchar](100) NOT NULL,
	[SITE_TYPE] [nvarchar](10) NOT NULL,
	[SITE_PARENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_USER_LIST]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_USER_LIST](
	[WFL_LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[WFL_LIST_NAME] [nvarchar](50) NOT NULL,
	[WFL_USER_LOGIN] [nvarchar](50) NOT NULL,
	[WFL_LIST_TYPE] [nvarchar](10) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_USER_LIST_DETAIL]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_USER_LIST_DETAIL](
	[WFL_LIST_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[WFL_LIST_ID] [int] NOT NULL,
	[WFL_USER_LOGIN] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKFLOW]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKFLOW](
	[WFL_ID] [nvarchar](50) NOT NULL,
	[WFL_NAME] [nvarchar](50) NULL,
	[WFL_SUBJECT] [nvarchar](200) NOT NULL,
	[WFL_DEADLINE] [datetime] NULL,
	[WFL_REMINDER_DATE] [datetime] NULL,
	[WFL_PRIORITY] [int] NOT NULL,
	[WFL_LAUNCHEDBY] [nvarchar](50) NOT NULL,
	[WFL_LAUNCHEDONBEHALF] [nvarchar](50) NULL,
	[WFL_BEGINDATE] [datetime] NOT NULL,
	[WFL_ENDDATE] [datetime] NULL,
	[WFL_COMPLETEDBY] [nvarchar](50) NULL,
	[WFL_COMPLETEDONBEHALF] [nvarchar](50) NULL,
	[WFL_STATUS] [nvarchar](10) NOT NULL,
	[WFL_PRIMARY_DOCUMENT] [nvarchar](50) NOT NULL,
	[WFL_DOCUMENT_DATE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[WFL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKFLOW_ATTACHMENT]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKFLOW_ATTACHMENT](
	[WFL_ATTACHMENT_ID] [nvarchar](50) NOT NULL,
	[WFL_ID] [nvarchar](50) NOT NULL,
	[WFL_DOCUMENT_ID] [nvarchar](50) NOT NULL,
	[WFL_ATTACHMENT_TYPE] [nvarchar](10) NULL,
 CONSTRAINT [PK_DIMS_WORKFLOW_ATTACHMENT] PRIMARY KEY CLUSTERED 
(
	[WFL_ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKFLOW_FOLDERS]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKFLOW_FOLDERS](
	[FOLDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLDER_TYPE] [nvarchar](10) NOT NULL,
	[LOGIN_USER] [nvarchar](50) NOT NULL,
	[FOLDER_NAME] [nvarchar](200) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKFLOW_HISTORY]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKFLOW_HISTORY](
	[WFL_HISTORY_ID] [nvarchar](50) NOT NULL,
	[WFL_ID] [nvarchar](50) NOT NULL,
	[WFL_ACTION_USER] [nvarchar](50) NOT NULL,
	[WFL_ACTION_TIMESTAMP] [datetime] NOT NULL,
	[WFL_ACTION_WITM_ID] [nvarchar](50) NULL,
	[WFL_ACTION_DETAILS] [text] NOT NULL,
	[WFL_ACTION_DOCUMENT] [nvarchar](50) NULL,
	[WFL_ACTION_STATUS] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKFLOW_INSTRUCTIONS]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKFLOW_INSTRUCTIONS](
	[WFL_INSTRUCTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[WFL_INSTRUCTION] [nvarchar](50) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[WFL_INSTRUCTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKITEM]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKITEM](
	[WFL_WITM_ID] [nvarchar](50) NOT NULL,
	[WFL_ID] [nvarchar](50) NOT NULL,
	[WFL_SENDER] [nvarchar](50) NOT NULL,
	[WFL_RECIPIENT] [nvarchar](50) NOT NULL,
	[WFL_WITM_TYPE] [nvarchar](10) NOT NULL,
	[WFL_STEP_NO] [int] NOT NULL,
	[WFL_PARENT_WITM] [nvarchar](50) NULL,
	[WFL_INSTRUCTIONS] [nvarchar](255) NULL,
	[WFL_WITM_RECEIVEDON] [datetime] NOT NULL,
	[WFL_WITM_DEADLINE] [datetime] NULL,
	[WFL_WITM_REMINDER_DATE] [datetime] NULL,
	[WFL_WITM_ROOT_SENDER] [nvarchar](50) NULL,
	[WFL_WITM_STATUS] [nvarchar](10) NOT NULL,
	[WFL_WITM_ACTION] [nvarchar](50) NULL,
	[WFL_WITM_ACTION_COMMENT] [nvarchar](255) NULL,
	[WFL_WITM_ACTION_BY] [nvarchar](50) NULL,
	[WFL_WITM_ACTION_ONBEHALF] [nvarchar](50) NULL,
	[WFL_WITM_SENDER_DEPT] [int] NULL,
	[WFL_WITM_RECEIVER_DEPT] [int] NULL,
	[WFL_WITM_SENDER_DIV] [int] NULL,
	[WFL_WITM_RECEIVER_DIV] [int] NULL,
	[WFL_WITM_SYS_STATUS] [nvarchar](10) NULL,
	[WFL_WITM_SEQNO] [int] NULL,
	[WFL_WITM_NODE] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[WFL_WITM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMS_WORKITEM_ATTACHMENT]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMS_WORKITEM_ATTACHMENT](
	[WITM_ATTACHMENT_ID] [nvarchar](50) NOT NULL,
	[WFL_ID] [nvarchar](50) NOT NULL,
	[WFL_WITM_ID] [nvarchar](50) NOT NULL,
	[WFL_DOCUMENT_ID] [nvarchar](50) NOT NULL,
	[WITM_ATTACHMENT_TYPE] [nvarchar](10) NULL,
 CONSTRAINT [PK_DIMS_WORKITEM_ATTACHMENT] PRIMARY KEY CLUSTERED 
(
	[WITM_ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECM_ASSISTANT_EMPLOYEE]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECM_ASSISTANT_EMPLOYEE](
	[ECM_ASST_EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECM_ASST_EMP_LOGIN] [nvarchar](50) NOT NULL,
	[ECM_ASST_EMP_SUPERVISOR] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECM_DEPARTMENT]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECM_DEPARTMENT](
	[ECM_DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECM_DEPT_CODE] [int] NOT NULL,
	[ECM_DEPARTMENT] [nvarchar](200) NOT NULL,
	[ECM_DIR_CODE] [int] NULL,
	[OLD_DIMS_DEPARTMENT_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECM_DIVISION]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECM_DIVISION](
	[ECM_DIVISION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECM_DIVISION_CODE] [int] NOT NULL,
	[ECM_DIVISION] [nvarchar](200) NOT NULL,
	[ECM_DEPT_CODE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECM_EMPLOYEE]    Script Date: 10/23/2017 10:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECM_EMPLOYEE](
	[ECM_EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECM_ORGANIZATION_ID] [int] NULL,
	[ECM_ORG_CODE] [int] NULL,
	[ECM_ORGANIZATION_NAME] [nvarchar](200) NULL,
	[ECM_ORGANIZATION_TYPE] [nvarchar](50) NULL,
	[ECM_DEPT_CODE] [int] NULL,
	[ECM_DEPARTMENT] [nvarchar](200) NULL,
	[ECM_DIVISION_CODE] [int] NULL,
	[ECM_DIVISION] [nvarchar](200) NULL,
	[ECM_DIR_CODE] [int] NULL,
	[ECM_DIRECTORATE] [nvarchar](200) NULL,
	[ECM_USER_LOGIN] [nvarchar](50) NOT NULL,
	[ECM_USER_NAME] [nvarchar](200) NOT NULL,
	[ECM_SUPERVISOR_LOGIN] [nvarchar](50) NULL,
	[ECM_USER_EMAIL] [nvarchar](250) NULL,
	[ECM_DESIGNATION] [nvarchar](200) NULL,
	[ISADMIN] [bit] NULL,
	[ECM_EMPLOYEE_NO] [nvarchar](50) NULL,
	[ECM_LAST_UPDATE_DATE] [datetime] NULL,
	[ECM_ACTIVE_USER] [bit] NULL,
	[ECM_USER_TITLE] [nvarchar](50) NULL,
	[ECM_LICENSED] [bit] NULL,
	[ECM_JOB_TITLE] [nchar](10) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIMS_DELEGATION] ADD  DEFAULT (NULL) FOR [WFL_DELEGATION_STATUS]
GO
ALTER TABLE [dbo].[DIMS_ERRORS] ADD  CONSTRAINT [DF_DIMS_ERRORS_TYPE]  DEFAULT (N'ERROR') FOR [TYPE]
GO
ALTER TABLE [dbo].[DIMS_ERRORS] ADD  CONSTRAINT [DF_DIMS_ERRORS_TIMESTAMP]  DEFAULT (getdate()) FOR [TIMESTAMP]
GO
ALTER TABLE [dbo].[DIMS_WORKFLOW] ADD  CONSTRAINT [DF_DIMS_WORKFLOW_WFL_PRIORITY]  DEFAULT ((0)) FOR [WFL_PRIORITY]
GO
ALTER TABLE [dbo].[DIMS_WORKFLOW_ATTACHMENT]  WITH CHECK ADD  CONSTRAINT [FK_DIMS_WORKFLOW_ATTACHMENT_DIMS_WORKFLOW] FOREIGN KEY([WFL_ID])
REFERENCES [dbo].[DIMS_WORKFLOW] ([WFL_ID])
GO
ALTER TABLE [dbo].[DIMS_WORKFLOW_ATTACHMENT] CHECK CONSTRAINT [FK_DIMS_WORKFLOW_ATTACHMENT_DIMS_WORKFLOW]
GO
ALTER TABLE [dbo].[DIMS_WORKFLOW_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_DIMS_WORKFLOW_HISTORY_DIMS_WORKFLOW] FOREIGN KEY([WFL_ID])
REFERENCES [dbo].[DIMS_WORKFLOW] ([WFL_ID])
GO
ALTER TABLE [dbo].[DIMS_WORKFLOW_HISTORY] CHECK CONSTRAINT [FK_DIMS_WORKFLOW_HISTORY_DIMS_WORKFLOW]
GO
ALTER TABLE [dbo].[DIMS_WORKITEM]  WITH CHECK ADD  CONSTRAINT [FK_DIMS_WORKITEM_DIMS_WORKFLOW] FOREIGN KEY([WFL_ID])
REFERENCES [dbo].[DIMS_WORKFLOW] ([WFL_ID])
GO
ALTER TABLE [dbo].[DIMS_WORKITEM] CHECK CONSTRAINT [FK_DIMS_WORKITEM_DIMS_WORKFLOW]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIMS_CONFIGURATION', @level2type=N'COLUMN',@level2name=N'CONFIG_VALUE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIMS_DELEGATION', @level2type=N'COLUMN',@level2name=N'WFL_DELEGATION_STATUS'
GO
