<div class="email-inbox-header">
	<div class="row">
		<div class="col-md-6">
			<div class="email-title">
				<span class="icon mdi mdi-email"></span> Sent Items
			</div>
		</div>
		<div class="col-md-6 text-right">
		<settings-btn></settings-btn>
			<button class="btn btn-space btn-primary" data-toggle="tooltip" title="Refresh" (click)="refresh()">
				<i class="icon icon-left mdi mdi-refresh-sync"></i> Refresh
			</button>
		</div>
	</div>
</div>
<div class="email-filters">
<div class="email-filters-left">
<multiple-selection-filter (notifyParent)="toggleSelectAll($event)" [is_all_selected]="is_all_selected"></multiple-selection-filter>

<actions-btn (notifyParentToComplete)="completeTask($event)" *ngIf="is_tasks_of_same_status" [selectedTasks]="selectedtasklist" [is_cc_item]="is_cc_item" [is_done_by_sub_item]="is_done_by_sub_item" [is_complete_available] = "is_complete_available" [is_archive_available]="is_archive_available" [is_all_selected] = "is_all_selected" [tasks]="tasks" [action_list]="actionList"></actions-btn>
<div class="btn-group">
	<all-btn (notifyParenttofilter)="applyFilter($event)"></all-btn>
	<new-folder-btn [folderFor]="'sent'" ></new-folder-btn>
	<sort-btn (notifyParenttofilter)="applyFilter($event)"></sort-btn>
</div>

</div>

<div class="email-filters-right">
<!-- <span class="email-pagination-indicator">{{totalItemsCount}}</span>  -->
	 <pagination-template #p="paginationApi" (pageChange)="page = getPage($event)" class="pull-right pagination">
		<span class="pagination-previous paginatioon_left_arrow" [class.disabled]="p.isFirstPage()" style="cursor:pointer">
			<a *ngIf="!p.isFirstPage()" (click)="leftClicked(p)" >
					<button type="button" class="btn btn-default">
						<i class="mdi mdi-chevron-left"></i>
					</button> 
				</a>
		</span>
		<span *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
			<span *ngIf="p.getCurrent() === page.value">
					 <span class="pagination_current_page_number">
						 <font size="3"> Page <input style="width:30px" title="Go to page" (keypress)="onEnterKey($event,p)" type="text" id="currentPageSelected" value ="{{ page.label }}">  of {{totalPages}}  (total {{totalItemsCount}})</font>
				 </span>
			 </span>
		</span>
		<span class="pagination-next paginatioon_right_arrow" [class.disabled]="p.isLastPage()" style="cursor:pointer">
				 <a *ngIf="!p.isLastPage()" (click)="rightClicked(p)" >  
					 <button type="button" class="btn btn-default">
						 <i class="mdi mdi-chevron-right"></i>
					 </button>
				 </a>
		 </span>
	</pagination-template>
<!-- <div class="btn-group email-pagination-nav">
		<button type="button" class="btn btn-default"><i class="mdi mdi-chevron-left"></i></button>
		<button type="button" class="btn btn-default"><i class="mdi mdi-chevron-right"></i></button>
</div> -->
</div>
</div>

<!--<div class="scrollworkitem">
<div class="email-header-item email-header-item--unread" style="background-color: #ccc;">
<div class="email-list-actions"><div class="be-checkbox"></div></div>
<div class="email-list-actions"></div>
<div class="email-list-detail">
			<span class="date pull-right"></span>
			<span class="date pull-right" style="white-space: nowrap;">Workflow Deadline</span>
			<span class="col-md-3 from" style="white-space: nowrap;">Sender</span> 
			<span class="from col-md-2" style="white-space: nowrap;">Received On</span> 
			<span class="msg" style="white-space: nowrap;">Subject</span>
	</div>
</div>
<div class="email-list" *ngFor="let task of tasks | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: totalItemsCount }" class="email-list-itemnew email-list-itemnew--read">
<div class="email-list-actions">
	<div class="be-checkbox">
			<input id="check{{task.workflowWorkItemID}}" type="checkbox" (change)="selectCheckbox($event,task)" [(ngModel)]="task.is_checked">
			<label for="check{{task.workflowWorkItemID}}"></label>
	</div>
</div>  
<div class="email-list-actions">
			<span class="circle {{task.workflowWorkItemType}}-circle"></span>
</div>

	<div class="email-list-detail" routerLink="/work-flow/sent-item/task-details/{{task.workflowWorkItemID}}">
		<span class="date pull-right"></span>
		<span class="date pull-right"><i class="icon mdi mdi-timer"></i> {{task.workflowItemDeadline}}</span>
		<span class="col-md-3 from">{{task.workflowSender}}</span><span class="from col-md-2">{{task.workflowItemReceivedOn}}</span> 
		<span class="msg">{{task.workflowItemSubject}}</span>
	</div>
</div> 
</div> -->
<div class="scrollworkitem" id="scrollWI">
		<!-- <div class="ajax-loader" id="loadingSpinner" style="display:block;">
				<div class="loaderWI" ></div>
				<p>Loading...</p>
		</div>
		<div id="workitemsListIsEmpty" style="display:none;">
				<table cellpadding="0" cellspacing="0" style="width:100%;" >
						<thead >
						  <tr class="inboxHeader"> 
								<td width="2%"></td>
								<td width="2%"></td>
								<td width="2%"></td>
								<td width="1%"></td>
								<td width="1%"></td>
								<td colspan="1" *ngFor ="let colPref of colPreference" class="email-list-detail" >
									<span style="width:16%;" *ngIf="(colPref.itemType == 'sentSubject' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSubject')" >Subject</span>
									<span style="width:15%;" *ngIf="(colPref.itemType == 'sentSender' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowSender')"></span>
									<span style="width:8%;" *ngIf="(colPref.itemType == 'sentReceivedOn' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceivedOn')" >Sent On</span>
									<span style="width:8%;" *ngIf="(colPref.itemType == 'sentDeadline' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemDeadline')" >Deadline</span>
									<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Department' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDepartment')" >Sender Department</span>
									<span style="width:8%;"  *ngIf="(colPref.itemType == 'sentReceiver Departmentr' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDepartment')" >Receiver Department</span>
									<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDiv')" >Sender Division</span>
									<span style="width:8%;"  *ngIf="(colPref.itemType == 'sentReceiver Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDiv')" >Receiver Division</span>
									
								</td>
						</tr>
							</thead>
							</table>
							<div class="ajax-loader" id="loadingSpinner">
									<span class="animate-bottom" id="errortext_search">No Records Found</span>
							</div>
		</div> -->
		
		<!-- <div id="workitemsList" style="display:none;"> -->
		<div id="workitemsList" >
				<table  cellpadding="0" cellspacing="0" style="width:100%;">
					<thead>
					<tr class="inboxHeader">
						<td></td>
						<td width="1%"></td>
						<td width="1%"></td> 
						<td></td>
						<td></td>
						<td colspan="1" *ngFor ="let colPref of colPreference" class="email-list-detail" >
							<span style="width:16%;" *ngIf="(colPref.itemType == 'sentSubject' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSubject')" >Subject</span>
							<span style="width:15%;" *ngIf="(colPref.itemType == 'sentSender' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowSender')"></span>
							<span style="width:8%;" *ngIf="(colPref.itemType == 'sentReceivedOn' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceivedOn')" >Sent On</span>
							<span style="width:8%;" *ngIf="(colPref.itemType == 'sentDeadline' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemDeadline')" >Deadline</span>
							<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Department' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDepartment')" >Sender Department</span>
							<span style="width:8%;"  *ngIf="(colPref.itemType == 'sentReceiver Departmentr' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDepartment')" >Receiver Department</span>
							<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDiv')" >Sender Division</span>
							<span style="width:8%;"  *ngIf="(colPref.itemType == 'sentReceiver Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDiv')" >Receiver Division</span>
							
						</td>
				</tr>
				</thead>
				<tbody>
			<ng-container *ngFor="let task of tasks | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: totalItemsCount };let i = index;">
			<tr class="email-list-itemnew email-list-itemnew--read">
				<td><label for="check{{task.workflowWorkItemID}}"></label></td>
				<td style="padding-left: 15px;font-size: 13px;font-weight: bold;">
					<div class="be-checkbox be-select-all">
						<input class="be-checkbox" id="check{{task.workflowWorkItemID}}" type="checkbox" (change)="selectCheckbox($event,task)" [(ngModel)]="task.is_checked">
						<label for="check{{task.workflowWorkItemID}}"></label>
					</div>
				</td>
				
				<td>
						<div [ngClass]="(i >=0 && i<=5) ?'tooltipCommentBottom':'tooltipComment'"  [ngStyle]="{ 'display': task.workflowItemActionComment == 'undefined' ?'none': task.workflowItemActionComment.trim().length >0?'': 'none'}">
								<i class="fa fa-comment" style="color:#928df8;" aria-hidden="true" ></i>
								<span [ngClass]="(i >=0 && i<=5) ?'tooltiptextCommentBottom':'tooltiptextComment'" >
									<table >
										<tr>
											<td valign="top" class="titleOne">{{task.workflowSender}} Comment :</td>
										</tr>
										<tr>
												<td valign="top" style="font-weight: normal;">
													<div style="padding-left:5px;">
															{{task.workflowItemActionComment == 'undefined' ?'':task.workflowItemActionComment}}
													</div>
												</td>
										</tr>
									</table>
							</span>
						</div>
				</td>
				<td data-toggle="modal" data-target="#sentitem-workitems" (click)="loadWorkitems(task.workflowWorkItemID)">
						<span class="circle {{task.workflowWorkItemType}}-circle">●</span>
				</td>
				<td>
					<span *ngIf = "task.workflowItemPriority == '1'" ><i class="fa fa-arrow-down" style="color:rgb(66, 148, 202)" aria-hidden="true"></i></span>
					<span *ngIf = "task.workflowItemPriority == '0'" ></span>
					<span *ngIf = "task.workflowItemPriority == '2'" ><i class="fa fa-exclamation" style="color:red" aria-hidden="true"></i></span>
				</td>
					<td data-toggle="modal" data-target="#sentitem-workitems" (click)="loadWorkitems(task.workflowWorkItemID)" *ngFor ="let colPref of colPreference" title="{{task.workflowItemSubject}}" style="max-width: 280px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" class="email-list-detail">
						<span style="width:16%;"  *ngIf="(colPref.itemType == 'sentSubject' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSubject')" >
							{{ task && task.workflowItemSubject ? task.workflowItemSubject.length > 31 ? task.workflowItemSubject.substring(0,30)+" ..."  : task.workflowItemSubject :''  }}
						</span>
						<span style="width:15%;" *ngIf="(colPref.itemType == 'sentSender' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowSender')"></span>
						<span style="width:8%;" *ngIf="(colPref.itemType == 'sentReceivedOn' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceivedOn')" >{{task.workflowItemReceivedOn}}</span>
						<span style="width:8%;" *ngIf="(colPref.itemType == 'sentDeadline' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemDeadline')" >{{task.workflowItemDeadline}}</span>
						<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Department' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDepartment')" >{{task.senderDepartment}}</span>
						<span style="width:8%;"  *ngIf="(colPref.itemType == 'sentReceiver Departmentr' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDepartment')" >{{task.workflowItemReceiverDepartment}}</span>
						<span style="width:12%;"  *ngIf="(colPref.itemType == 'sentSender Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDiv')" >{{task.senderDivision}}</span>
						<span style="width:7%;"  *ngIf="(colPref.itemType == 'sentReceiver Div' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceiverDiv')" >{{task.workflowItemReceiverDiv}}</span>
					</td>
				</tr>
			</ng-container>
			</tbody>
			</table>
		</div>
</div>

<div id="sentitem-workitems" class="modal fade" role="dialog">
		<div class="modal-dialog">
	
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sent Item Details</h4>
				</div>
				<div class="modal-body" style="height: 200px;overflow-y: auto;">
						<table class="table table-hover">
								<thead>
										<tr style="background-color : #ccc; padding-left: 15px;font-size: 13px;font-weight: bold;">
												<td></td>
												<!-- <ng-container *ngFor ="let colPref of colPreference">																		
																<td colspan="1"  class="email-list-detail" *ngIf="(colPref.itemType == 'sentReceivedOn' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceivedOn')"><span style="width:20%;" >Sent On</span></td> 
																<td colspan="1"  class="email-list-detail" *ngIf="(colPref.itemType == 'sentDeadline' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemDeadline')"><span style="width:20%;"  >Deadline</span></td> 
																<td colspan="1"  class="email-list-detail" *ngIf="(colPref.itemType == 'sentSender Department' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDepartment')"><span style="width:30%;" >Recipient</span></td>
												</ng-container> -->
												<td colspan="1"  class="email-list-detail"><span style="width:20%;" >Sent On</span></td> 
												<td colspan="1"  class="email-list-detail"><span style="width:20%;"  >Deadline</span></td> 
												<td colspan="1"  class="email-list-detail"><span style="width:30%;" >Recipient</span></td>
										</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let sentTask of sentitemsWorkitems">
										<tr class="email-list-itemnew email-list-itemnew--read" data-dismiss="modal" routerLink="/work-flow/sent-item/task-details/{{sentTask.workflowWorkItemID}}">
												<td>
														<span class="circle {{sentTask.workflowWorkItemType}}-circle">●</span>
												</td>
												<!-- <ng-container *ngFor ="let colPref of colPreference">																																		
															<td class="email-list-detail" *ngIf="(colPref.itemType == 'sentReceivedOn' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemReceivedOn')"><span style="width:20%;"  >{{sentTask.workflowItemReceivedOn}}</span></td>
															<td class="email-list-detail" *ngIf="(colPref.itemType == 'sentDeadline' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemDeadline')"><span style="width:20%;"  >{{sentTask.workflowItemDeadline}}</span></td>
															<td class="email-list-detail" *ngIf="(colPref.itemType == 'sentSender Department' && colPref.coloumnEnabled == 'true' && colPref.columnName == 'workflowItemSenderDepartment')"><span style="width:30%;"   >{{sentTask.workflowItemReceivedBy}}</span></td>
												</ng-container> -->
												<td class="email-list-detail"><span style="width:20%;">{{sentTask.workflowItemReceivedOn}}</span></td>
												<td class="email-list-detail"><span style="width:20%;">{{sentTask.workflowItemDeadline}}</span></td>
												<td class="email-list-detail"><span style="width:30%;">{{sentTask.workflowItemReceivedBy}}</span></td>
											</tr>
										</ng-container>
								</tbody>
							</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
	
		</div>
	</div>				