<!-- header Component-->
<style>
  .active .TabPageHeight {height:395px; }
</style>
<div class="be-wrapper be-fixed-sidebar">
  <nav [ngClass]="{'delegationMode': delegateForEmployeeLogin}" class="navbar navbar-default navbar-fixed-top be-top-header">
  
  <div class="container-fluid">
     <div class="navbar-header" style="cursor:pointer;"><a href="#" class="navbar-brand"></a></div>
     <!-- <div class="navbar-header" style="cursor:pointer;" (click)="getHomePage()"><a class="navbar-brand"></a></div> -->
      <div class="be-right-navbar be-right-navbar-flex">
          <div class="search-container">
         <form class="inlineform" role="search" #courseForm="ngForm" (ngSubmit)="search()">
            <div class="input-group input-group-sm">
              <input  title="Search text length should exceed four characters" required type="text" [(ngModel)]='simpleWorkflowSearch.subject' class="form-control search-input" placeholder="{{workflowService.placeHolder}}" name="q">
              <a role="button" data-toggle="dropdown" class="one-percent input-group-addon adv-search-caret">
                <span class="caret"></span>
              </a>
  
              <ul class="dropdown-menu module_dd_menu_search" role="menu">
                  <li><a (click)="searchPlaceholderSet('Document ID','DocumentID')" class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn" ><span class="searchTypeDot"><span *ngIf="workflowService.placeHolder == 'Document ID'">●</span></span>Document ID</span></a></li>
                  <li><a (click)="searchPlaceholderSet('Reference Number','ReferenceNo')" class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn" ><span class="searchTypeDot"><span *ngIf="workflowService.placeHolder == 'Reference Number'">●</span></span>Reference Number</span></a></li>
                  <li><a (click)="searchPlaceholderSet('Subject','EmailSubject')" class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn" ><span class="searchTypeDot"><span *ngIf="workflowService.placeHolder == 'Subject'">●</span></span>Subject</span></a></li>
                  <li><a (click)="searchPlaceholderSet('Document Date','DocumentDate')" class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn" ><span class="searchTypeDot"><span *ngIf="workflowService.placeHolder == 'Document Date (Please provide date in DD/MM/YYYY format)'">●</span></span>Document Date</span></a></li>
                  <li><a (click)="searchPlaceholderSet('Content Search','Content')" class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn" ><span class="searchTypeDot"><span *ngIf="workflowService.placeHolder == 'Content Search'">●</span></span>Content Search</span></a></li>
                  <li><a title="Listing documents for 2 years. To get older than 2 years, use Advanced Search." class="right-top-all-btn" style="text-align: left;"><span class="WorkFlow-btn"><span class="searchTypeDot"><input type="checkbox"  (change)="crossDepartmentSelection($event)" [(ngModel)]="simpleSearchRequestObject.crossDepartment" name="crossDepartment"></span>Cross Department</span></a></li>
                </ul>
        <span class="input-group-btn">
                <span class="dropdown">
                  <!--<button id="searchButton" [disabled]="simpleWorkflowSearch.subject.length < 4" type="submit" class="btn btn-primary">Search</button>-->
            <button id="searchButton" [disabled]="simpleWorkflowSearch.subject.trim().length < 4" type="submit" class="btn btn-primary searchButtonColor">Search</button>
                   <div class="dropdown-content">
          <h6>Search text should have at least four characters</h6>
        </div>
      </span>
               </span>
  
            </div>
          </form>
          
          <span class="input-group-btn">
                    <button id="advanceSearchButton" (click)="openSearchModal(searchModal)" class="btn btn-red">
                    Advanced Search 
                    <span class="mdi mdi-chevron-down"></span>
                    </button>
               </span>
        </div>
        <div class="emptydiv"></div>
        <!-- logout, header component-->
        <!-- <ul class="nav navbar-nav navbar-right be-user-nav">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <img src="images/user.png" alt="Avatar">
                              <span class="user-name">{{current_user_name}}</span>
                        <span class="user-name" *ngIf="delegateForEmployeeLogin != ''">
                          ( {{delegateForEmployeeLogin}} )
                        </span>
                          </a>
                          <ul role="menu" class="dropdown-menu">
                              <li>
                                  <div class="user-info">
                                      <div class="user-name">{{current_user_name}}</div>
                                       <span *ngIf="delegateForEmployeeLogin != ''">
                            ( {{delegateForEmployeeLogin}} )
                          </span>
                                  </div>
                              </li>
                              <li><a (click)="logout()"><span class="icon mdi mdi-power"></span> Logout</a></li>
                          </ul>
                      </li>
                  </ul> -->
                  
                  <ul class="nav navbar-nav navbar-right be-user-nav">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <img src="images/user.png" alt="Avatar">
                              <span class="user-name">{{current_user_name}}</span>
                        <span class="user-name" *ngIf="delegateForEmployeeLogin != ''">
                          ( {{delegateForEmployeeLogin.userFullName}} )
                        </span>
                          </a>
                          <ul role="menu" class="dropdown-menu">
                              <li>
                                  <div class="user-info">
                                      <div class="user-name">{{current_user_name}}</div>
                                       <span *ngIf="delegateForEmployeeLogin != ''">
                            ( {{delegateForEmployeeLogin.userFullName}} )
                          </span>
                                  </div>
                              </li>
                              <!-- Comment out the below line for KNPC build -->
                              <!-- <li><a (click)="logout()"><span class="icon mdi mdi-power"></span> Logout</a></li> -->
                          </ul> 
                      </li>
                  </ul>
                  
                  
    </div>
      <div id="displayfade_in" class="modal-backdrop fade in" >
        <div id="loader_main_search1" ></div>
      </div>
      <div class="modal-backdrop fade in" id="loader_main_search"></div>
        <div class="errormessage" id="errormessage">
        <div class="crossdep-textmain" id="crossdeptextmain" style="margin-bottom: 30px;margin-left: 40px;width: 100%;margin: 0 auto;position: absolute;font-size: 100%;font-weight: bold;color:#0000FF;display:none;top:-160px;">
            <p>Listing documents for 2 years. To get older than 2 years, use Advanced Search.</p>
        </div>
        <span class="timer-textmain" id="timeelapsedmain">Elapsed time:{{ticks}}s</span>
         <span class="animate-bottom" id="errortext_search">No Documents Found
           </span></div>
      <div id="hidenotification" *ngIf="notification_message" class="top-notification"> {{notification_message}}
        <!-- <span class="remove_error-msg" (click)="removeMessage()"><b>x</b></span> --><br>
      </div>
      <div *ngIf="error_message" class="top-notification error-message"> {{error_message}} 
        <span class="remove-message" (click)="removeMessage()"><b>x</b></span><br>
      </div>
    </div>
  </nav>
  </div>
  <!-- advance search modal -->
  
  <modal #searchModal class="launch_modal_Advsearch colored-header colored-header-primary"  (onClose)="closeModal(searchModal); reset()" [closeOnOutsideClick]="false" [closeOnEscape]="false">
    <modal-header>
          <div class="modal-header">
            <h3 class="modal-title">Search</h3>
          </div>
      
    </modal-header>
    <modal-content>
    <ul class="nav nav-tabs">
        
        <li [class.active]="activeTab=='documents'"><a (click)="activeTab='documents'">Documents</a></li>
       <li [class.active]="activeTab=='workflows'"><a (click)="activeTab='workflows'">Workflows</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" [class.active]="activeTab=='workflows'">
          <form class="form-horizontal">
              <div style="overflow-y: auto;height:390px;">
              
              <div class="form-group">
                  <label class="col-sm-3 control-label" style="font-weight: bold;">Workflow Type</label>
                  <div class="col-sm-9">
                    {{workflowSearch.classes}}
                    <select class="form-control" [(ngModel)]="workflowSearch.workFlowSearchType" name="m_class">
                      <option *ngFor="let class of classes" [ngValue]="class.name"
                      ><a href="#">{{class.name}}</a></option>
                    </select>
                  </div>
                </div>
                <div class="form-group" *ngIf="workflowSearch.workFlowSearchType != 'Archive'"> 
                  <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Filter By</label>
                  <div class="col-sm-9">
                    <select name="filterBy" class="form-control" [(ngModel)]="workflowSearch.filterBy">
                      <option value=""></option>
                      <option value="ACTIVE">Active</option>
                      <option *ngIf="workflowSearch.workFlowSearchType != 'Sent'" value="New">New</option>
                      <option value="cc">CC</option>
                      <option *ngIf="workflowSearch.workFlowSearchType != 'Sent'" value="Reply">Done by sub</option>
                      <option *ngIf="workflowSearch.workFlowSearchType == 'Sent'" value="Reply">Done by me</option>
                    </select>
                  </div>
                </div>
              <div class="form-group">
                  <label for="ref" class="col-sm-3 control-label" style="font-weight: bold;">Reference No.</label>
                  <div class="col-sm-9">
                      <div class="input-group">
                        <input minlength="4" #ref="ngModel" type="text" autocomplete="off" [(ngModel)]="workflowSearch.referenceNumber" class="form-control" name="ref">
                        <span class="input-group-addon" (click)="addRefExtra()" id="basic-addon1"><span class="fa fa-plus"></span></span>                              
                      </div>
                       <div class="alert error" *ngIf="!ref.valid" >This field should at least contain 4 characters</div>
                      </div>
              </div>
              <ng-container *ngFor="let extra of refExtra;let i = index;">
                  <div class="form-group">
                      <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;"></label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <input type="text" (change)="onValueUpdateRef($event, i)" class="form-control" name="ref">
                              <span class="input-group-addon" (click)="removeRefExtra(i)" id="basic-addon1"><span class="fa fa-minus"></span></span>                              
                            </div>
                      </div>
                    </div>
              </ng-container>
              <div class="form-group">
                  <label for="docId" class="col-sm-3 control-label" style="font-weight: bold;">Document ID</label>
                  <div class="col-sm-9">
                      <div class="input-group">
                          <input type="text" autocomplete="off" minlength="4" #docId="ngModel" [(ngModel)]="workflowSearch.documentId" class="form-control" name="docId">
                          <span class="input-group-addon" (click)="addIdExtra()" id="basic-addon1"><span class="fa fa-plus"></span></span>                              
                        </div>
                        <div class="alert error" *ngIf="!docId.valid" >This field should at least contain 4 characters</div>
                  </div>
                </div>
                <ng-container *ngFor="let extra of idExtra;let i = index;">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;"></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" (change)="onValueUpdateId($event, i)" class="form-control" name="id">
                                <span class="input-group-addon" (click)="removeIdExtra(i)" id="basic-addon1"><span class="fa fa-minus"></span></span>                              
                              </div>
                        </div>
                      </div>
                </ng-container>
            
            
            <!-- <div class="form-group">
              <label for="inputPassword" class="col-sm-4 control-label" style="font-weight: bold;">Reference No</label>
              <div class="col-sm-8">
                <input type="text" [(ngModel)]="workflowSearch.referenceNumber" class="form-control" name="referenceNumber">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-4 control-label" style="font-weight: bold;">Document Id</label>
              <div class="col-sm-8">
                <input type="text" [(ngModel)]="workflowSearch.documentId" class="form-control" name="documentId">
              </div>
            </div> -->
             
            <div *ngIf="workflowSearch.workFlowSearchType != 'Sent'" class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">From</label>
              <div class="col-sm-9">
                  <p-multiSelect id="fromMultiSelect" maxSelectedLabels="5" [options]="recepient" [(ngModel)]="tmpFromArray" name="selectedrecepients" defaultLabel="         -- Select User --"></p-multiSelect>                                        
              <!-- <input auto-complete [(ngModel)]="workflowSearch.fromUser" min-chars="2" [source]="userFromSearchUrl" (valueChanged)="setFromName($event)" display-property-name="employeeName" name="ToName" class="form-control" /> -->
                <!-- <input type="text" [(ngModel)]="workflowSearch.fromUser" class="form-control" name="fromUser"> -->
              </div>
            </div>
            <div *ngIf="workflowSearch.workFlowSearchType != 'Inbox' && workflowSearch.workFlowSearchType != 'Archive'" class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">To</label>
              <div class="col-sm-9">
                  <p-multiSelect id="toMultiSelect" maxSelectedLabels="5" [options]="recepient" [(ngModel)]="tmpToArray" name="selectedrecepients1" defaultLabel="         -- Select User --"></p-multiSelect>                    
              <!-- <input auto-complete [(ngModel)]="workflowSearch.toUser" min-chars="2" [source]="userToSearchUrl" (valueChanged)="setToName($event)" display-property-name="employeeName" name="FromName" class="form-control" /> -->
                <!-- <input type="text" [(ngModel)]="workflowSearch.toUser" class="form-control" name="toUser"> -->
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Subject</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input minlength="4" type="text" autocomplete="off" #subject="ngModel" [(ngModel)]="workflowSearch.subject" class="form-control" name="subject">
                  <span class="input-group-addon" (click)="addSubjectExtra()" id="basic-addon1"><span class="fa fa-plus"></span></span>                              
                </div>
                <div class="alert error" *ngIf="!subject.valid" >This field should at least contain 4 characters</div>
              </div>
            </div>
            <ng-container *ngFor="let extra of subjectExtra;let i = index;">
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;"></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" (change)="onValueUpdateSubject($event, i)" class="form-control" name="subject">
                            <span class="input-group-addon" (click)="removeSubjectExtra(i)" id="basic-addon1"><span class="fa fa-minus"></span></span>                              
                          </div>
                    </div>
                  </div>
            </ng-container>
            <div class="form-group">
              <label *ngIf="workflowSearch.workFlowSearchType == 'Sent'" for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Sent On</label>
              <label *ngIf="workflowSearch.workFlowSearchType != 'Sent'" for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Received Date</label>
              <div class="col-sm-9">
                <select name="dateType" class="form-control" [(ngModel)]="workflowSearch.dateType">
                  <option value=""></option>
                  <option value="today">Today</option>
                  <option value="lastWeek">Last Week</option>
                  <option value="lastMonth">Last Month</option>
                  <option value="lastYear">Last Year</option>
                  <option value="all">All Dates</option>
                  <option value="specific">Specific Date</option>
                  <option value="before">All Dates Before</option>
                  <option value="after">All Dates After</option>
                  <option value="range">Date Range</option>
                </select>
                <my-date-picker *ngIf="workflowSearch.dateType == 'specific' || workflowSearch.dateType == 'before' || workflowSearch.dateType == 'after'" name="dateCreated" [options]="myDatePickerOptions" [(ngModel)]="workflowSearch.recieveDate"></my-date-picker>
              </div>
            </div>
            <div *ngIf="workflowSearch.dateType == 'range'" class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-3">
                  From: <my-date-picker name="dateFrom" (dateChanged)="onDateChanged($event)" [options]="myDatePickerOptions" [(ngModel)]="dateFrom"></my-date-picker>
              </div>
              <div class="col-sm-3">
                  To: <my-date-picker name="dateTo" [options]="myDatePickerOptions1" [(ngModel)]="dateTo"></my-date-picker>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Instructions</label>
              <div class="col-sm-9">
                <select id="instruction" class="form-control" >
                  <option></option>
                    <option *ngFor="let inst of instructions" value="{{inst}}">{{inst}}</option>
                </select>
                <!-- <input type="text" [(ngModel)]="workflowSearch.instruction" class="form-control" name="instruction"> -->
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;">Action Comments</label>
              <div class="col-sm-9">
                  <div class="input-group">
                      <input type="text" minlength="4" #comment="ngModel" [(ngModel)]="workflowSearch.comments" class="form-control" name="comments">
                      <span class="input-group-addon" (click)="addCommentsExtra()" id="basic-addon1"><span class="fa fa-plus"></span></span>                              
                    </div>
                    <div class="alert error" *ngIf="!comment.valid" >This field should at least contain 4 characters</div>
              </div>
            </div>
            <ng-container *ngFor="let extra of commentsExtra;let i = index;">
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label" style="font-weight: bold;"></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" (change)="onValueUpdateComments($event, i)" class="form-control" name="ref">
                            <span class="input-group-addon" (click)="removeCommentsExtra(i)" id="basic-addon1"><span class="fa fa-minus"></span></span>                              
                          </div>
                    </div>
                  </div>
            </ng-container>
            </div>
            <!-- <div *ngIf="workflowSearch.workFlowSearchType == undefined" class="form-group">
                <div class="col-sm-offset-9 col-sm-8 no-padding">
                    <span style="color: red;font-weight: bold;" *ngIf="errorMessage">{{errorMessage}}</span>                                          
                </div> </div> -->
                <!--<div *ngIf="form_empty" class="col-sm-offset-5 col-sm-8 no-padding">
                <span id ="workflowFilterMsg" style="color : red;"><b>Please provide at least one search criteria and try again</b></span>
                </div>
                <div *ngIf="date_empty || adv_date_empty" class="col-sm-offset-5 col-sm-8 no-padding">
                  <span id ="workflowFilterMsg" style="color : red;"><b>Please specify a date</b></span>
                  </div>-->

                  <div *ngIf="empty == 'form'" class="col-sm-offset-5 col-sm-9 no-padding">
                    <span id ="workflowFilterMsg" style="color : red;"><b>Please provide at least one search criteria and try again</b></span>
                    </div>
                    <div *ngIf="empty == 'date'" class="col-sm-offset-5 col-sm-9 no-padding">
                    <span id ="workflowDateMsg" style="color : red;"><b>Please fill "Received Date" field and try again</b></span>
                    </div>
          </form>
        </div>
        <div *ngIf="activeTab=='workflows'" class="form-group" style="padding-top:15px;">
          <div class="col-sm-offset-9 col-sm-9 no-padding">
            <button type="submit" class="btn btn-primary adv_search_btn" (click)="advanceSearchTask($event,searchModal)">Search</button> 
            <!--<button class="btn btn-primary adv_search_btn" (click)="searchModal.close(); reset()" data-dismiss="modal" type="button">Cancel</button>-->
            <button class="btn btn-primary adv_search_btn" (click)="closeTaskSearch(searchModal)" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </div>
        
  
        <div role="tabpanel" [class.active]="activeTab=='documents'" [class.height]="activeTab=='documents'">
          <form id="formsearch" class="form-horizontal" role="form" (ngSubmit)="advanceSearchDocuments(searchModal,$event)" style="height: 95%">
          <div class="TabPageHeight">
          <div *ngIf="activeTab=='documents'" class="tab-pane fade in advance_search_modal">
            <div>
            <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" >Added by Me</label>
    
              
                <div class="col-sm-10 no-padding">
                  <input type="checkbox" id="addedByMe" style="height:22px;">
                </div>
              </div>
            <div class="form-group adv_search_fields" *ngFor="let resDoc of documentSearchForm.attributes;let i = index;">
              <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" *ngIf= "documentSearchForm.getPropertyForIndex(i) != 'DateReceived' && documentSearchForm.getPropertyForIndex(i) != 'DocumentTitle' && documentSearchForm.getPropertyForIndex(i) != 'DocumentID' && documentSearchForm.getPropertyForIndex(i) != 'DepartmentID'" >{{advanceSearchApiValues[i].descriptiveText}}</label>
              <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" *ngIf= "documentSearchForm.getPropertyForIndex(i) == 'DepartmentID'" >Department</label>
              <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" *ngIf= "documentSearchForm.getPropertyForIndex(i) == 'DocumentID'" >Document ID</label>
              <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" *ngIf= "documentSearchForm.getPropertyForIndex(i) == 'DateReceived'" >Date Created</label>
              <div *ngIf="advanceSearchApiValues[i].datatype == 'DATE'">
                <div class="col-sm-3 no-padding">
                <select id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd" 
                         name="selectedTitleSearchOperator" (change)="updateFields(documentSearchForm.getPropertyForIndex(i))">
                    <option *ngFor="let title of dateComparisonOperators" [attr.selected]="title=='period' ? true : null">{{title}}</option>
                </select>
              </div>
                <div class="col-sm-6 no-padding">
                    <my-date-picker id="{{documentSearchForm.getPropertyForIndex(i)}}datePicker" [options]="myDatePickerOptions"  style="display:none;"></my-date-picker>
                </div>
                <div class="col-sm-6 no-padding">
                       <my-date-range-picker id="{{documentSearchForm.getPropertyForIndex(i)}}dateRange" [options]="myDateRangePickerOptions" style="display:none"></my-date-range-picker>
                </div>
                <div class="col-sm-6 no-padding">
                    <select id="{{documentSearchForm.getPropertyForIndex(i)}}period" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd"  style="display:block;">
                      <option value=""></option>
                      <option value="Today">Today</option>
                      <option value="This Week">This Week</option>
                      <option value="This Month">This Month</option>
                  </select>
                </div>
              </div>
              
              <div *ngIf="advanceSearchApiValues[i].datatype == 'STRING'">
                <div *ngIf= "documentSearchForm.getPropertyForIndex(i) != 'DocumentTitle' && documentSearchForm.getPropertyForIndex(i) != 'DocumentID'">
                 <div class="col-sm-3 no-padding" >
                  <select id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd"  
                           name="selectedTitleSearchOperator">
                      <option *ngFor="let title of textComparisonOperators" [attr.selected]="title=='is equal to' ? true : null" >{{title}}</option>
                  </select>
                </div> 
                  <div class="col-sm-6 no-padding" >
                    <input type="text" id="astextbox" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_textbox" id="doc_title" placeholder="{{advanceSearchApiValues[i].descriptiveText}}" style="height:22px;">
                  </div>
                  </div>    
                  <div *ngIf= "documentSearchForm.getPropertyForIndex(i) == 'DocumentID' ">
                      <div class="col-sm-3 no-padding" >
                       <select id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd"  
                                name="selectedTitleSearchOperator">
                           <option *ngFor="let title of equalOperatorForDocuemntID" [attr.selected]="title == 'is equal to' ? true : null" >{{title}}</option>
                       </select>
                     </div> 
                       <div class="col-sm-6 no-padding" >
                         <input type="text" id="astextbox" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_textbox" id="doc_title" placeholder="{{advanceSearchApiValues[i].descriptiveText}}" style="height:22px;">
                       </div>
                       </div>      
              </div> 

            


              
              <div *ngIf="advanceSearchApiValues[i].datatype == 'LONG'">
               <!--<div class="col-sm-3 no-padding">
                  <select id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd" (change)="onChange($event.target.id,$event.target.value)">
                    <option *ngFor="let title of numberComparisonOperators"  [selected]="title=='=' ? true : null" >{{title}}</option>
                </select>
              </div> -->
              <div class="col-sm-3 no-padding">
                  <select *ngIf="documentSearchForm.getPropertyForIndex(i) != 'CorrespondenceType' &&documentSearchForm.getPropertyForIndex(i) != 'DocumentType'&& documentSearchForm.getPropertyForIndex(i) != 'DocumentTo' && documentSearchForm.getPropertyForIndex(i) != 'DocumentFrom' " id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd" (change)="onChange($event.target.id,$event.target.value)">
                  <option *ngFor="let title of equalOperator" [selected]="title=='=' ? true : null" >{{title}}</option>
                  </select>
                  <select *ngIf="documentSearchForm.getPropertyForIndex(i) == 'CorrespondenceType' ||documentSearchForm.getPropertyForIndex(i) == 'DocumentType'|| documentSearchForm.getPropertyForIndex(i) == 'DocumentTo' || documentSearchForm.getPropertyForIndex(i) == 'DocumentFrom' " id="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_dd" (change)="onChange($event.target.id,$event.target.value)">
                  <option *ngFor="let title of numberComparisonOperators" [selected]="title=='=' ? true : null" >{{title}}</option>
                  </select>
                </div>
                <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'IsLaunched'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
                
               
                <!-- <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentFrom'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                    <option *ngFor="let from of document_from" value="{{from.siteId}}">{{from.siteName}}</option>
                   </select>
                </div>
                
                <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentTo'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                    <option *ngFor="let from of document_from" value="{{from.siteId}}">{{from.siteName}}</option>
                </select>
                </div> -->
                 <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentFrom'">
                
                <select  *ngIf="DocumentFromSelectBox == 'single'" class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}" >
                  <option ></option>
                  <option *ngFor="let from of document_from" value="{{from.siteId}}">{{from.siteName}}</option>
                 </select>
                 <p-multiSelect *ngIf="DocumentFromSelectBox == 'multi'"  maxSelectedLabels="4"  class="multiselect-ui " [options]="populatedocumentfrom"  name="DocumentFrom" [(ngModel)]="selectedDocumentFrom" id="M-DocumentFrom" > 
               
               </p-multiSelect> 
              </div>
              
              <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentTo'">
                <select   class="form-control adv_search_textbox"  *ngIf="DocumentToshowSelectBox == 'single'" name="{{documentSearchForm.getPropertyForIndex(i)}}" >
                  <option ></option>
                  <option *ngFor="let from of document_from" value="{{from.siteId}}">{{from.siteName}}</option>
              </select>
          <p-multiSelect *ngIf="DocumentToshowSelectBox == 'multi'"  maxSelectedLabels="4"  class="multiselect-ui " [options]="populatedocumentfrom"  name="DocumentTo" [(ngModel)]="selectedDocumentTo" id="M-DocumentTo" > 
               
               </p-multiSelect> 
              </div>
                
                <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DepartmentID'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                    <option *ngFor="let department of departments" value="{{department.departmentCode}}">{{department.department}}</option>
                </select>
                </div>
                
               <!--  <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'CorrespondenceType'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                    <option value="1">Internal Incoming</option>
                    <option value="2">Internal Outgoing</option>
                    <option value="3">External Incoming</option>
                    <option value="4">External Outgoing</option>
                </select>
                </div> -->
                
                  <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'CorrespondenceType'">
                <select *ngIf="CorespondenceshowSelectBox == 'single'" class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                  <option ></option>
                  <option value="1">Internal Incoming</option>
                  <option value="2">Internal Outgoing</option>
                  <option value="3">External Incoming</option>
                  <option value="4">External Outgoing</option>
              </select>
              
                <p-multiSelect *ngIf="CorespondenceshowSelectBox == 'multi'"  [options]="populateCorespondence" class="multiselect-ui " name="CorrespondenceType" [(ngModel)]="selectedCorespondence" id="M-CorrespondenceType"> 
               
               </p-multiSelect>
               
         </div>
                
                <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'Confidentiality'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                     <option value="2">Confidential</option>
                      <option value="1">Non Confidential</option>
                    
                </select>
                </div>
                
                <!--<div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentType'">
                  <select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                    <option ></option>
                     <option *ngFor="let docType of documentType" value="{{docType.id}}">{{docType.docType}}</option>
                    
                </select>
                </div>-->
                <!--<div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentType'">
                    
                    <select *ngIf="showSelectBox == 'single'" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="multiselect-ui form-control" >
                        <option ></option>
                        <option *ngFor="let docType of documentType" value="{{docType.id}}" title="{{docType.docType}}">{{docType.docType}}</option>
                    </select>        
                  
                  <select *ngIf="showSelectBox == 'multi'" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="multiselect-ui form-control" multiple="multiple" >
                                <option ></option>
                                <option *ngFor="let docType of documentType" value="{{docType.id}}" title="{{docType.docType}}">{{docType.docType}}</option>
                            </select>
                  </div>-->
               
                      <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) == 'DocumentType'">
            <!--  	<select class="form-control adv_search_textbox" name="{{documentSearchForm.getPropertyForIndex(i)}}">
                  <option ></option>
                   <option *ngFor="let docType of documentType" value="{{docType.id}}">{{docType.docType}}</option>
                  
              </select>
              -->
                               <select *ngIf="showSelectBox == 'single'" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="multiselect-ui form-control" >
                        <option ></option>
                        <option *ngFor="let docType of documentType" value="{{docType.id}}" title="{{docType.docType}}">{{docType.docType}}</option>
                    </select>        
           
               <p-multiSelect *ngIf="showSelectBox == 'multi'"  maxSelectedLabels="5"  class="multiselect-ui " [options]="docTypeList"  name="DocumentType" [(ngModel)]="selected" id="M-DocumentType"> 
               
               </p-multiSelect>
              </div>
                
                
                 <div class="col-sm-6 no-padding" *ngIf="documentSearchForm.getPropertyForIndex(i) != 'DocumentType' && documentSearchForm.getPropertyForIndex(i) != 'Confidentiality' && documentSearchForm.getPropertyForIndex(i) != 'CorrespondenceType' && documentSearchForm.getPropertyForIndex(i) != 'DepartmentID' && documentSearchForm.getPropertyForIndex(i) != 'IsLaunched' && documentSearchForm.getPropertyForIndex(i) != 'DocumentTo' && documentSearchForm.getPropertyForIndex(i) != 'DocumentFrom' " >
                  
                  <input type="text" (keypress)="isNumber($event)" id="astextbox" name="{{documentSearchForm.getPropertyForIndex(i)}}" class="form-control adv_search_textbox" id="doc_title" placeholder="{{advanceSearchApiValues[i].descriptiveText}}" style="height:22px;">
                </div>
              </div>
              </div>
              
            <div>
            <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" >Document Creator</label>
    
              
               <div class="col-sm-3 no-padding" >
                <select id="documentCreatorCondition" class="form-control adv_search_dd"  
                         name="selectedTitleSearchOperator">
                    <option *ngFor="let title of textComparisonOperators" [attr.selected]="title=='is equal to' ? true : null" >{{title}}</option>
                </select>
              </div> 
                <div class="col-sm-6 no-padding" >
                <!-- <input auto-complete [(ngModel)]="userName" min-chars="2" [source]="userSearchUrl" (valueChanged)="setFolderName($event)" display-property-name="employeeName" name="userName" class="form-control" /> -->
                 <!--  <input type="text" id="documentCreatorValue" class="form-control adv_search_textbox" placeholder="Document Creator" style="height:22px;"> -->
                  <input auto-complete min-chars="2" [source]="userSearchUrl"  (valueChanged)="setCreatorName($event)" display-property-name="employeeName" name="userName" id="documentCreatorValue" class="form-control adv_search_textbox" placeholder="Document Creator" style="height:22px;">
                </div>
              </div>
              
              <div class="form-group adv_search_fields">
            <label for="inputPassword" class="col-xs-2 control-label" style="font-weight: bold;" >Content Search</label>
    
              
               <div class="col-sm-3 no-padding" >
                <select id="contentSearchCondition" class="form-control adv_search_dd" name="selectedTitleSearchOperator">
                    <option value="like" >like</option>
                </select>
              </div> 
                <div class="col-sm-6 no-padding" >
                  <input type="text" id="contentSearch" class="form-control adv_search_textbox" placeholder="Content Search" style="height:22px;">
                </div>
              </div>
              
              </div>
            </div>
              <div *ngIf="activeTab=='documents'" class="form-group">
              <div class="col-sm-offset-4 col-sm-8 no-padding">
                  <span id ="advFilterMsg" style="display : none; color : red;"><b>Please provide atleast one search criteria and try again</b></span>
                </div>
              <div class="col-sm-offset-9 col-sm-8 no-padding">
                <button class="btn btn-primary adv_search_btn">Search</button>
                <button class="btn btn-primary adv_search_btn" (click)="searchModal.close();" data-dismiss="modal" type="button">Cancel</button>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </modal-content>
  </modal>
  <div id="displayLoader" class="loading" style="display:none;">Loading&#8230;</div>