<div class="col-sm-12 col-md-12 leftMenu browseMenu">
  <module-selection></module-selection>

      <ul class="nav nav-pills nav-stacked">
        <li class="left-content-list no-margin">
          <a class="left-content" routerLink="/reports/report-list" routerLinkActive="active1" style = "white-space: nowrap;" >Workflow Statistics</a>
          <a class="left-content" routerLink="/reports/pending-work-flow" routerLinkActive="active1" style = "white-space: nowrap;">Pending Workflows</a>
          <a class="left-content" routerLink="/reports/pending-work-flow-full-history" routerLinkActive="active1" style = "white-space: nowrap;">Pending WFs (Full History)</a>
          <a class="left-content" routerLink="/reports/pending-work-flow-specific-history" routerLinkActive="active1" style = "white-space: nowrap;">Pending WFs (Specific History)</a>
          <a class="left-content" routerLink="/reports/document-scanned" routerLinkActive="active1" style = "white-space: nowrap;">Documents Scanned</a>
        </li>
      </ul>
</div>
  