<modal #documentLinkModal modalClass="auto-length" class="colored-header colored-header-primary">
  <modal-header>
	 <div class="modal-header">
                <h3 class="modal-title">Link Document - {{documentName}}</h3>
     </div>
  </modal-header>
  <modal-content>
    <div class="form-group">
      <div class="input-group fullWidth">
        <div class="row">
          <div class="col-sm-12">
            <textarea class="form-control" readonly="readonly" rows="6">{{documentLink}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </modal-content>
</modal>